{
  "Entries": [
    {
      "RequestUri": "/keys/TestKey/create?api-version=2016-10-01",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"kty\": \"RSA\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"key\": {\r\n    \"kid\": \"https://herveyw-premium.vault.azure.net/keys/TestKey/df04251fb7f849dc9b9b3c64e94ee603\",\r\n    \"kty\": \"RSA\",\r\n    \"key_ops\": [\r\n      \"encrypt\",\r\n      \"decrypt\",\r\n      \"sign\",\r\n      \"verify\",\r\n      \"wrapKey\",\r\n      \"unwrapKey\"\r\n    ],\r\n    \"n\": \"yAroy2u0lWPbfh0NbEDS2Mh_gmn5bsqzV1MVYYN_uaa87Q0WKQMDl56QFE_FC3oa7yQZ52QdvuxXS08Fpo_QIqX2AUsI4ZHmQQuxTTzvuyMwCgGUbHnS7B_5l21HH0NOcoDSUluVSBYU88sldYeVKE7oo_PdGm8ulu7nns3DKwLY7BNM3pWDYcSwHJZzgPpn-7bU3xiQW5jEOHsqk12Q_LNDUFzXfx2YdKz9TA0Mf2tVy732hQT81vnUdHTcbJWUPwjFtjXjHfuw7Wcwn39iJ8VZexBWMeVyYmalCOMHoKCJy_LJkcJ2MNfPwycntgk43veayShE2NImNfOy64-NvQ\",\r\n    \"e\": \"AQAB\"\r\n  },\r\n  \"attributes\": {\r\n    \"enabled\": true,\r\n    \"created\": 1478549610,\r\n    \"updated\": 1478549610\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/keys/TestKey/?api-version=2016-10-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"key\": {\r\n    \"kid\": \"https://herveyw-premium.vault.azure.net/keys/TestKey/df04251fb7f849dc9b9b3c64e94ee603\",\r\n    \"kty\": \"RSA\",\r\n    \"key_ops\": [\r\n      \"encrypt\",\r\n      \"decrypt\",\r\n      \"sign\",\r\n      \"verify\",\r\n      \"wrapKey\",\r\n      \"unwrapKey\"\r\n    ],\r\n    \"n\": \"yAroy2u0lWPbfh0NbEDS2Mh_gmn5bsqzV1MVYYN_uaa87Q0WKQMDl56QFE_FC3oa7yQZ52QdvuxXS08Fpo_QIqX2AUsI4ZHmQQuxTTzvuyMwCgGUbHnS7B_5l21HH0NOcoDSUluVSBYU88sldYeVKE7oo_PdGm8ulu7nns3DKwLY7BNM3pWDYcSwHJZzgPpn-7bU3xiQW5jEOHsqk12Q_LNDUFzXfx2YdKz9TA0Mf2tVy732hQT81vnUdHTcbJWUPwjFtjXjHfuw7Wcwn39iJ8VZexBWMeVyYmalCOMHoKCJy_LJkcJ2MNfPwycntgk43veayShE2NImNfOy64-NvQ\",\r\n    \"e\": \"AQAB\"\r\n  },\r\n  \"attributes\": {\r\n    \"enabled\": true,\r\n    \"created\": 1478549610,\r\n    \"updated\": 1478549610\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/keys/TestKey/df04251fb7f849dc9b9b3c64e94ee603?api-version=2016-10-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"key\": {\r\n    \"kid\": \"https://herveyw-premium.vault.azure.net/keys/TestKey/df04251fb7f849dc9b9b3c64e94ee603\",\r\n    \"kty\": \"RSA\",\r\n    \"key_ops\": [\r\n      \"encrypt\",\r\n      \"decrypt\",\r\n      \"sign\",\r\n      \"verify\",\r\n      \"wrapKey\",\r\n      \"unwrapKey\"\r\n    ],\r\n    \"n\": \"yAroy2u0lWPbfh0NbEDS2Mh_gmn5bsqzV1MVYYN_uaa87Q0WKQMDl56QFE_FC3oa7yQZ52QdvuxXS08Fpo_QIqX2AUsI4ZHmQQuxTTzvuyMwCgGUbHnS7B_5l21HH0NOcoDSUluVSBYU88sldYeVKE7oo_PdGm8ulu7nns3DKwLY7BNM3pWDYcSwHJZzgPpn-7bU3xiQW5jEOHsqk12Q_LNDUFzXfx2YdKz9TA0Mf2tVy732hQT81vnUdHTcbJWUPwjFtjXjHfuw7Wcwn39iJ8VZexBWMeVyYmalCOMHoKCJy_LJkcJ2MNfPwycntgk43veayShE2NImNfOy64-NvQ\",\r\n    \"e\": \"AQAB\"\r\n  },\r\n  \"attributes\": {\r\n    \"enabled\": true,\r\n    \"created\": 1478549610,\r\n    \"updated\": 1478549610\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/keys/TestKey?api-version=2016-10-01",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"key\": {\r\n    \"kid\": \"https://herveyw-premium.vault.azure.net/keys/TestKey/df04251fb7f849dc9b9b3c64e94ee603\",\r\n    \"kty\": \"RSA\",\r\n    \"key_ops\": [\r\n      \"encrypt\",\r\n      \"decrypt\",\r\n      \"sign\",\r\n      \"verify\",\r\n      \"wrapKey\",\r\n      \"unwrapKey\"\r\n    ],\r\n    \"n\": \"yAroy2u0lWPbfh0NbEDS2Mh_gmn5bsqzV1MVYYN_uaa87Q0WKQMDl56QFE_FC3oa7yQZ52QdvuxXS08Fpo_QIqX2AUsI4ZHmQQuxTTzvuyMwCgGUbHnS7B_5l21HH0NOcoDSUluVSBYU88sldYeVKE7oo_PdGm8ulu7nns3DKwLY7BNM3pWDYcSwHJZzgPpn-7bU3xiQW5jEOHsqk12Q_LNDUFzXfx2YdKz9TA0Mf2tVy732hQT81vnUdHTcbJWUPwjFtjXjHfuw7Wcwn39iJ8VZexBWMeVyYmalCOMHoKCJy_LJkcJ2MNfPwycntgk43veayShE2NImNfOy64-NvQ\",\r\n    \"e\": \"AQAB\"\r\n  },\r\n  \"attributes\": {\r\n    \"enabled\": true,\r\n    \"created\": 1478549610,\r\n    \"updated\": 1478549610\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "VaultAddress": "https://herveyw-premium.vault.azure.net",
    "KeyName": "AzureSDKTestKey",
    "KeyVersion": "a122e72dd4b24eedab3b05d9dc9c9c6c"
  }
}