{
  "Entries": [
    {
      "RequestUri": "/secrets/TestSecret?api-version=2016-10-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"value\": \"5sDsDOfIMrci70yMcsgb3XeFMMoLKikK\",\r\n  \"contentType\": \"application/octet-stream\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": \"5sDsDOfIMrci70yMcsgb3XeFMMoLKikK\",\r\n  \"contentType\": \"application/octet-stream\",\r\n  \"id\": \"https://herveyw-premium.vault.azure.net/secrets/TestSecret/0b370c98ebe9482387630d97d1a0913e\",\r\n  \"attributes\": {\r\n    \"enabled\": true,\r\n    \"created\": 1478549607,\r\n    \"updated\": 1478549607\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/secrets/TestSecret/?api-version=2016-10-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": \"5sDsDOfIMrci70yMcsgb3XeFMMoLKikK\",\r\n  \"contentType\": \"application/octet-stream\",\r\n  \"id\": \"https://herveyw-premium.vault.azure.net/secrets/TestSecret/0b370c98ebe9482387630d97d1a0913e\",\r\n  \"attributes\": {\r\n    \"enabled\": true,\r\n    \"created\": 1478549607,\r\n    \"updated\": 1478549607\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/secrets/TestSecret/0b370c98ebe9482387630d97d1a0913e?api-version=2016-10-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": \"5sDsDOfIMrci70yMcsgb3XeFMMoLKikK\",\r\n  \"contentType\": \"application/octet-stream\",\r\n  \"id\": \"https://herveyw-premium.vault.azure.net/secrets/TestSecret/0b370c98ebe9482387630d97d1a0913e\",\r\n  \"attributes\": {\r\n    \"enabled\": true,\r\n    \"created\": 1478549607,\r\n    \"updated\": 1478549607\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/secrets/TestSecret?api-version=2016-10-01",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"contentType\": \"application/octet-stream\",\r\n  \"id\": \"https://herveyw-premium.vault.azure.net/secrets/TestSecret/0b370c98ebe9482387630d97d1a0913e\",\r\n  \"attributes\": {\r\n    \"enabled\": true,\r\n    \"created\": 1478549607,\r\n    \"updated\": 1478549607\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "VaultAddress": "https://herveyw-premium.vault.azure.net",
    "KeyName": "AzureSDKTestKey",
    "KeyVersion": "a122e72dd4b24eedab3b05d9dc9c9c6c"
  }
}