{
  "Entries": [
    {
      "RequestUri": "/keys/CreateHsmKeyTest/create?api-version=2016-10-01",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"kty\": \"RSA-HSM\",\r\n  \"key_size\": 2048,\r\n  \"key_ops\": [\r\n    \"encrypt\",\r\n    \"decrypt\",\r\n    \"sign\",\r\n    \"verify\",\r\n    \"wrapKey\",\r\n    \"unwrapKey\"\r\n  ],\r\n  \"attributes\": {}\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"key\": {\r\n    \"kid\": \"https://herveyw-premium.vault.azure.net/keys/CreateHsmKeyTest/af13ed6990394846a6e89c435b234eed\",\r\n    \"kty\": \"RSA-HSM\",\r\n    \"key_ops\": [\r\n      \"encrypt\",\r\n      \"decrypt\",\r\n      \"sign\",\r\n      \"verify\",\r\n      \"wrapKey\",\r\n      \"unwrapKey\"\r\n    ],\r\n    \"n\": \"jyqhLIsoYRRLeLGFRRAe8hGuzb3bV8Yois_h7C1ECZAO0eu7Cj0Xyo-X5d8AC9Q6iYdHmBqdD5MpTUxHW_60McLmaHRe6Zp_csvlxioTyukEx0YCnOhBplYzv3B8XfujZs3EDcL7DlvWuVcULOZt5gajZD3PRdMG-yvwokHrdTC8_hEXBjzkvuimIGRrry-Q5bsG3HY_7PuLCiKAyGrhs7DTH_i178fooRSPGMWAg86nR6iqyTTUBPNAAVXsf4VKcw8GDc3ywHuqDmWo-cyPi9YOOWusIicWPSoto7Sxl-SzNWd760Uw2Sz4rcJXSwAibRlSlHU65K967fu4OQ76AQ\",\r\n    \"e\": \"AAEAAQ\"\r\n  },\r\n  \"attributes\": {\r\n    \"enabled\": true,\r\n    \"created\": 1478549701,\r\n    \"updated\": 1478549701\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/keys/CreateHsmKeyTest/af13ed6990394846a6e89c435b234eed?api-version=2016-10-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"key\": {\r\n    \"kid\": \"https://herveyw-premium.vault.azure.net/keys/CreateHsmKeyTest/af13ed6990394846a6e89c435b234eed\",\r\n    \"kty\": \"RSA-HSM\",\r\n    \"key_ops\": [\r\n      \"encrypt\",\r\n      \"decrypt\",\r\n      \"sign\",\r\n      \"verify\",\r\n      \"wrapKey\",\r\n      \"unwrapKey\"\r\n    ],\r\n    \"n\": \"jyqhLIsoYRRLeLGFRRAe8hGuzb3bV8Yois_h7C1ECZAO0eu7Cj0Xyo-X5d8AC9Q6iYdHmBqdD5MpTUxHW_60McLmaHRe6Zp_csvlxioTyukEx0YCnOhBplYzv3B8XfujZs3EDcL7DlvWuVcULOZt5gajZD3PRdMG-yvwokHrdTC8_hEXBjzkvuimIGRrry-Q5bsG3HY_7PuLCiKAyGrhs7DTH_i178fooRSPGMWAg86nR6iqyTTUBPNAAVXsf4VKcw8GDc3ywHuqDmWo-cyPi9YOOWusIicWPSoto7Sxl-SzNWd760Uw2Sz4rcJXSwAibRlSlHU65K967fu4OQ76AQ\",\r\n    \"e\": \"AAEAAQ\"\r\n  },\r\n  \"attributes\": {\r\n    \"enabled\": true,\r\n    \"created\": 1478549701,\r\n    \"updated\": 1478549701\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/keys/CreateHsmKeyTest?api-version=2016-10-01",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"key\": {\r\n    \"kid\": \"https://herveyw-premium.vault.azure.net/keys/CreateHsmKeyTest/af13ed6990394846a6e89c435b234eed\",\r\n    \"kty\": \"RSA-HSM\",\r\n    \"key_ops\": [\r\n      \"encrypt\",\r\n      \"decrypt\",\r\n      \"sign\",\r\n      \"verify\",\r\n      \"wrapKey\",\r\n      \"unwrapKey\"\r\n    ],\r\n    \"n\": \"jyqhLIsoYRRLeLGFRRAe8hGuzb3bV8Yois_h7C1ECZAO0eu7Cj0Xyo-X5d8AC9Q6iYdHmBqdD5MpTUxHW_60McLmaHRe6Zp_csvlxioTyukEx0YCnOhBplYzv3B8XfujZs3EDcL7DlvWuVcULOZt5gajZD3PRdMG-yvwokHrdTC8_hEXBjzkvuimIGRrry-Q5bsG3HY_7PuLCiKAyGrhs7DTH_i178fooRSPGMWAg86nR6iqyTTUBPNAAVXsf4VKcw8GDc3ywHuqDmWo-cyPi9YOOWusIicWPSoto7Sxl-SzNWd760Uw2Sz4rcJXSwAibRlSlHU65K967fu4OQ76AQ\",\r\n    \"e\": \"AAEAAQ\"\r\n  },\r\n  \"attributes\": {\r\n    \"enabled\": true,\r\n    \"created\": 1478549701,\r\n    \"updated\": 1478549701\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "VaultAddress": "https://herveyw-premium.vault.azure.net",
    "KeyName": "AzureSDKTestKey",
    "KeyVersion": "72c66e7bd2fe4d34baf302c9e249e3ef"
  }
}