{
  "Entries": [
    {
      "RequestUri": "/keys/AzureSDKTestKey//wrapkey?api-version=2016-10-01",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"alg\": \"RSA1_5\",\r\n  \"value\": \"6fV8TsiGQtcyFe_-VHVm_HiHP6Z1u58H9EdW-4ylQFQ\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"kid\": \"https://herveyw-premium.vault.azure.net/keys/AzureSDKTestKey/c66a9d1c403c4572b99f95cbc647ff64\",\r\n  \"value\": \"skGkwrZ-DmSBScgCphau-jvcfkMHRd7JZRPoWAwem6qy1bJ_UWqHiWR25qYUHyWUdttdhTtalNqyv3gphBLdu7O8PKbjYr_arV6AinegfnNUSe264HKnGhSOWvSmrw1PtV-gIjd4oIDWefKb1DXKqtaRSqu1yCI6Sd1uaeX5fYcupLNKwozU3TXr1uaTyLpejlKRkbh0mp4JNY7xyFF5u5Azd2Yw6kWThWzFb-6AEtT8mZN9WMdWmOA74YNHMZ8OyOqIIny0uhHY8fGtNpD4L-lNqrlYLJC4jHMXsXh0rNwkTf4VQUgvwVxamgd9MImdyVVG-VPOGldXBr-GjkR2Pg\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/keys/AzureSDKTestKey/c66a9d1c403c4572b99f95cbc647ff64/unwrapkey?api-version=2016-10-01",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"alg\": \"RSA1_5\",\r\n  \"value\": \"skGkwrZ-DmSBScgCphau-jvcfkMHRd7JZRPoWAwem6qy1bJ_UWqHiWR25qYUHyWUdttdhTtalNqyv3gphBLdu7O8PKbjYr_arV6AinegfnNUSe264HKnGhSOWvSmrw1PtV-gIjd4oIDWefKb1DXKqtaRSqu1yCI6Sd1uaeX5fYcupLNKwozU3TXr1uaTyLpejlKRkbh0mp4JNY7xyFF5u5Azd2Yw6kWThWzFb-6AEtT8mZN9WMdWmOA74YNHMZ8OyOqIIny0uhHY8fGtNpD4L-lNqrlYLJC4jHMXsXh0rNwkTf4VQUgvwVxamgd9MImdyVVG-VPOGldXBr-GjkR2Pg\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"kid\": \"https://herveyw-premium.vault.azure.net/keys/AzureSDKTestKey/c66a9d1c403c4572b99f95cbc647ff64\",\r\n  \"value\": \"6fV8TsiGQtcyFe_-VHVm_HiHP6Z1u58H9EdW-4ylQFQ\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "VaultAddress": "https://herveyw-premium.vault.azure.net",
    "KeyName": "AzureSDKTestKey",
    "KeyVersion": "72c66e7bd2fe4d34baf302c9e249e3ef",
    "SymmetricKeyBytes": "6fV8TsiGQtcyFe/+VHVm/HiHP6Z1u58H9EdW+4ylQFQ="
  }
}