{
  "Entries": [
    {
      "RequestUri": "/keys/AzureSDKTestKey//sign?api-version=2016-10-01",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"alg\": \"RS256\",\r\n  \"value\": \"QJjIGAleyLWUjYstc5dW7V8IHCMyyU9AEYTZU0v5Iuc\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"kid\": \"https://herveyw-premium.vault.azure.net/keys/AzureSDKTestKey/c66a9d1c403c4572b99f95cbc647ff64\",\r\n  \"value\": \"WaRsk7bZdiDz9RhH0drPse41RTvvb2BJJ-ESRqspgV0AArxsSVqS6xPWvV8AioBUE0G4adQnWuPW1TNCeXW4BGlu2c74pXZ1S4sdMCen_JFU-_qQV5a57mXLVB0zSZsDKtCFic2zz6cVhZGc4CmZNbEmKiXOx_xgGrw6Lq4K-E3FDWcBvbwgHreuSvTJ5zHrJ6uCIXv3r7Bs3Sn_2lvA-2jKfpvMGv5eljUHCPShKVdsTzj4WOinQVoKfAI_RRoZoZ1ARaSnOuP90uncw4uVGwwM6Kyl2-LFK5sJNtyR7QnATkjV3IEIm7bN7iWgNvuR8NUt3D3tQOv-fUVKYxSx6A\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/keys/AzureSDKTestKey/c66a9d1c403c4572b99f95cbc647ff64/verify?api-version=2016-10-01",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"alg\": \"RS256\",\r\n  \"digest\": \"QJjIGAleyLWUjYstc5dW7V8IHCMyyU9AEYTZU0v5Iuc\",\r\n  \"value\": \"WaRsk7bZdiDz9RhH0drPse41RTvvb2BJJ-ESRqspgV0AArxsSVqS6xPWvV8AioBUE0G4adQnWuPW1TNCeXW4BGlu2c74pXZ1S4sdMCen_JFU-_qQV5a57mXLVB0zSZsDKtCFic2zz6cVhZGc4CmZNbEmKiXOx_xgGrw6Lq4K-E3FDWcBvbwgHreuSvTJ5zHrJ6uCIXv3r7Bs3Sn_2lvA-2jKfpvMGv5eljUHCPShKVdsTzj4WOinQVoKfAI_RRoZoZ1ARaSnOuP90uncw4uVGwwM6Kyl2-LFK5sJNtyR7QnATkjV3IEIm7bN7iWgNvuR8NUt3D3tQOv-fUVKYxSx6A\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": true\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "VaultAddress": "https://herveyw-premium.vault.azure.net",
    "KeyName": "AzureSDKTestKey",
    "KeyVersion": "72c66e7bd2fe4d34baf302c9e249e3ef",
    "RandomBytes": "1Vt6qLKPIoLNxJ77cJJAp10mypJFXqChgim2Nxlq4Wo="
  }
}