{
  "Entries": [
    {
      "RequestUri": "/keys/ImportSoftKeyTest?api-version=2016-10-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"key\": {\r\n    \"kty\": \"RSA\",\r\n    \"n\": \"wqv0FU58ynnXBbN4bye4oyLrsOmywmZM01ZBqkI-ihMK8fFbsE_IhJU40oktks7rcRYA_ymOtnZSBMGX74eX-WXqcaH5Yg3I0ev1Lej9XCtlWgvLpYzG1vjc6rESTVA9jf__RRQZHiXSEfPOTsLSkWWM2cl6bYMLRAUbRGpMfjMhM8qK-zlY9-8lMQaZa_eMxLcUzQPmpmHmqq4ZiwsiqXq-ZhFIWiJ2Mt7nRV-qZM-g6MzE1dmqQ4lqZQ1Ww3ktdXGbBsQRskKlva4x0fuP72MVYbguuECM0YyutJ3gm4o4Kd98JsczVvUGfhUCupi29iC5J3Q-TF1As9wnXFKlBQ\",\r\n    \"e\": \"AQAB\",\r\n    \"d\": \"IGw5xquwGpwA3Uz3J9I-jQM1rJ07veeCb6d739LRLjd-OO4pRnv_Sl-9G0moKr2mVosi5tyhzY922R5yQv17KRlZmwvuaG-hzR7G0trticKbiowQ4rWH74l65-bOhMxyuBoVRsjSZyRG8OEBsTn_DqLSevp01tT-1Rkhobsvmsv4WKjms1ohhP0q1U71eUPmIzZFFLGwP0SW9XWAnzB576cD5z6HiqANyCj5afrTZ0SCB7fqv4WYFB__09J5Hqftz4Rn69rCZsDx2uMw5gO8HduMgQRqdls-LxZcCouAct8wUJq5l3MFw7-6dXLpK0iukt11OjTNDTMO6sCjWpspSQ\",\r\n    \"dp\": \"dm_dFR55cdSSaxLuwtft2Q4yh-cZliS_LqBVZ9I6U0MxD2gNlbMd6a-evIcqXqRoiOSHgEq61RaBUKrj4PbjAwjoMVKeEovLNt5y4ncCyNISC-dV-l3t8mmWhMAmuNloLC8KvIVE7ITgtEtIbbjlX7yaWQqtsZeUNwYGl2_JcCE\",\r\n    \"dq\": \"ufUfpBCVSlkxHoOiDmt3PkwD8IT7yJtX75HyQ6JghHzeN2MU610MYmhlt0BFB6UwaWI3tb79YS8w106o66fttgyb_JwKArQN7MYJ6oqMMUAaz-IfuW4sKjYtdO5F_Bp-lUhiZ7bwTzVF-Ue_cS-dwBG1luWsgoFhU9YegQMLFIE\",\r\n    \"qi\": \"fKN6YLE1wC1G8nbCjJQzIlVzy7_DvXdapEF5QBwjg1yNONlU_d7IPuJP21eji2ycMrWpwFPHuuNDPyExmIBiaJdTuhqcfXVbGgSnW8pyt3ioeNwUPlY4uqB7TALv1OTOwtRMBquVS40cSiQuOdn4PsZHvVcYE5vqcA5Ju3db8lY\",\r\n    \"p\": \"50mP376xOBEekiJ-PmsqTEBJZgvZp76-bH-x8z4zbMnnXZ7yfw85CLUvwNK2BVxit8j1W35YfCKWyVqI6JZlYJJNNrMqNSrC7yt2lB9I7HKwGk_1B0qycJZvDYmTsC4kiR4EHaiAScsCU_CYwNllD_FPEgps9lZVbKRC3TQPny0\",\r\n    \"q\": \"13jWeShOn60h7UPb31P1eJeCjiA1pr1zH2bqTLZedwthyNKmMZ2eO3o1AkWmYaqnpIwQCmLdmhdmgHftJTofRpUeh60u2WRgB-lc_PqG0xVrCOTE0FbIa5_vZNwhNvfK6oXv2eCt1SdGPVQLjhTHgxNJ-nmIsOjFXU8XfvT5hDk\"\r\n  },\r\n  \"tags\": {\r\n    \"purpose\": \"unit test\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"key\": {\r\n    \"kid\": \"https://herveyw-premium.vault.azure.net/keys/ImportSoftKeyTest/2b8e8f44fb444a74bfac4152c0b51892\",\r\n    \"kty\": \"RSA\",\r\n    \"key_ops\": [\r\n      \"encrypt\",\r\n      \"decrypt\",\r\n      \"sign\",\r\n      \"verify\",\r\n      \"wrapKey\",\r\n      \"unwrapKey\"\r\n    ],\r\n    \"n\": \"wqv0FU58ynnXBbN4bye4oyLrsOmywmZM01ZBqkI-ihMK8fFbsE_IhJU40oktks7rcRYA_ymOtnZSBMGX74eX-WXqcaH5Yg3I0ev1Lej9XCtlWgvLpYzG1vjc6rESTVA9jf__RRQZHiXSEfPOTsLSkWWM2cl6bYMLRAUbRGpMfjMhM8qK-zlY9-8lMQaZa_eMxLcUzQPmpmHmqq4ZiwsiqXq-ZhFIWiJ2Mt7nRV-qZM-g6MzE1dmqQ4lqZQ1Ww3ktdXGbBsQRskKlva4x0fuP72MVYbguuECM0YyutJ3gm4o4Kd98JsczVvUGfhUCupi29iC5J3Q-TF1As9wnXFKlBQ\",\r\n    \"e\": \"AQAB\"\r\n  },\r\n  \"attributes\": {\r\n    \"enabled\": true,\r\n    \"created\": 1478549634,\r\n    \"updated\": 1478549634\r\n  },\r\n  \"tags\": {\r\n    \"purpose\": \"unit test\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/keys/ImportSoftKeyTest/2b8e8f44fb444a74bfac4152c0b51892?api-version=2016-10-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"key\": {\r\n    \"kid\": \"https://herveyw-premium.vault.azure.net/keys/ImportSoftKeyTest/2b8e8f44fb444a74bfac4152c0b51892\",\r\n    \"kty\": \"RSA\",\r\n    \"key_ops\": [\r\n      \"encrypt\",\r\n      \"decrypt\",\r\n      \"sign\",\r\n      \"verify\",\r\n      \"wrapKey\",\r\n      \"unwrapKey\"\r\n    ],\r\n    \"n\": \"wqv0FU58ynnXBbN4bye4oyLrsOmywmZM01ZBqkI-ihMK8fFbsE_IhJU40oktks7rcRYA_ymOtnZSBMGX74eX-WXqcaH5Yg3I0ev1Lej9XCtlWgvLpYzG1vjc6rESTVA9jf__RRQZHiXSEfPOTsLSkWWM2cl6bYMLRAUbRGpMfjMhM8qK-zlY9-8lMQaZa_eMxLcUzQPmpmHmqq4ZiwsiqXq-ZhFIWiJ2Mt7nRV-qZM-g6MzE1dmqQ4lqZQ1Ww3ktdXGbBsQRskKlva4x0fuP72MVYbguuECM0YyutJ3gm4o4Kd98JsczVvUGfhUCupi29iC5J3Q-TF1As9wnXFKlBQ\",\r\n    \"e\": \"AQAB\"\r\n  },\r\n  \"attributes\": {\r\n    \"enabled\": true,\r\n    \"created\": 1478549634,\r\n    \"updated\": 1478549634\r\n  },\r\n  \"tags\": {\r\n    \"purpose\": \"unit test\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/keys/ImportSoftKeyTest?api-version=2016-10-01",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"key\": {\r\n    \"kid\": \"https://herveyw-premium.vault.azure.net/keys/ImportSoftKeyTest/2b8e8f44fb444a74bfac4152c0b51892\",\r\n    \"kty\": \"RSA\",\r\n    \"key_ops\": [\r\n      \"encrypt\",\r\n      \"decrypt\",\r\n      \"sign\",\r\n      \"verify\",\r\n      \"wrapKey\",\r\n      \"unwrapKey\"\r\n    ],\r\n    \"n\": \"wqv0FU58ynnXBbN4bye4oyLrsOmywmZM01ZBqkI-ihMK8fFbsE_IhJU40oktks7rcRYA_ymOtnZSBMGX74eX-WXqcaH5Yg3I0ev1Lej9XCtlWgvLpYzG1vjc6rESTVA9jf__RRQZHiXSEfPOTsLSkWWM2cl6bYMLRAUbRGpMfjMhM8qK-zlY9-8lMQaZa_eMxLcUzQPmpmHmqq4ZiwsiqXq-ZhFIWiJ2Mt7nRV-qZM-g6MzE1dmqQ4lqZQ1Ww3ktdXGbBsQRskKlva4x0fuP72MVYbguuECM0YyutJ3gm4o4Kd98JsczVvUGfhUCupi29iC5J3Q-TF1As9wnXFKlBQ\",\r\n    \"e\": \"AQAB\"\r\n  },\r\n  \"attributes\": {\r\n    \"enabled\": true,\r\n    \"created\": 1478549634,\r\n    \"updated\": 1478549634\r\n  },\r\n  \"tags\": {\r\n    \"purpose\": \"unit test\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "VaultAddress": "https://herveyw-premium.vault.azure.net",
    "KeyName": "AzureSDKTestKey",
    "KeyVersion": "72c66e7bd2fe4d34baf302c9e249e3ef"
  }
}