{
  "Entries": [
    {
      "RequestUri": "/keys/CreateSoftKeyTest/create?api-version=2016-10-01",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"kty\": \"RSA\",\r\n  \"key_size\": 2048,\r\n  \"key_ops\": [\r\n    \"encrypt\",\r\n    \"decrypt\",\r\n    \"sign\",\r\n    \"verify\",\r\n    \"wrapKey\",\r\n    \"unwrapKey\"\r\n  ],\r\n  \"attributes\": {},\r\n  \"tags\": {\r\n    \"purpose\": \"unit test\",\r\n    \"test name \": \"CreateGetDeleteKeyTest\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"key\": {\r\n    \"kid\": \"https://herveyw-premium.vault.azure.net/keys/CreateSoftKeyTest/77e1b4b08a144e98a6ec0fe982665e52\",\r\n    \"kty\": \"RSA\",\r\n    \"key_ops\": [\r\n      \"encrypt\",\r\n      \"decrypt\",\r\n      \"sign\",\r\n      \"verify\",\r\n      \"wrapKey\",\r\n      \"unwrapKey\"\r\n    ],\r\n    \"n\": \"vAwFfQzn7DbOBCxyeRAH0YsaHgOMegLVPBlpw428UNNWyZzGCt85PCITuDNp0WT5oC2TSYATW2uwhYRAf6dlma5pEHy_Tjsm1CitNMj9zxMoF_JoB8FUcFrLFIK5IDNHCZe2wszYOflf8QFvwUQ31Acz06uDGa3pSECsrgGcRFJdKR07kyFlJS-Q2OR3liWyqc3jb7t67nee2T6ADu-HlCZfQRpUG6mEpzm9icbJ-UgtVmjKKHDaJUz-uvj3BPPCCygZeYzMJRhifzVtgvMUBXPteTOA-T3qUw7VRhMOUa0W9ufljGD7luHbIoSuuwG84GQQZ8uIz7XXMylfmUZz9Q\",\r\n    \"e\": \"AQAB\"\r\n  },\r\n  \"attributes\": {\r\n    \"enabled\": true,\r\n    \"created\": 1478549629,\r\n    \"updated\": 1478549629\r\n  },\r\n  \"tags\": {\r\n    \"purpose\": \"unit test\",\r\n    \"test name \": \"CreateGetDeleteKeyTest\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/keys/CreateSoftKeyTest/77e1b4b08a144e98a6ec0fe982665e52?api-version=2016-10-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"key\": {\r\n    \"kid\": \"https://herveyw-premium.vault.azure.net/keys/CreateSoftKeyTest/77e1b4b08a144e98a6ec0fe982665e52\",\r\n    \"kty\": \"RSA\",\r\n    \"key_ops\": [\r\n      \"encrypt\",\r\n      \"decrypt\",\r\n      \"sign\",\r\n      \"verify\",\r\n      \"wrapKey\",\r\n      \"unwrapKey\"\r\n    ],\r\n    \"n\": \"vAwFfQzn7DbOBCxyeRAH0YsaHgOMegLVPBlpw428UNNWyZzGCt85PCITuDNp0WT5oC2TSYATW2uwhYRAf6dlma5pEHy_Tjsm1CitNMj9zxMoF_JoB8FUcFrLFIK5IDNHCZe2wszYOflf8QFvwUQ31Acz06uDGa3pSECsrgGcRFJdKR07kyFlJS-Q2OR3liWyqc3jb7t67nee2T6ADu-HlCZfQRpUG6mEpzm9icbJ-UgtVmjKKHDaJUz-uvj3BPPCCygZeYzMJRhifzVtgvMUBXPteTOA-T3qUw7VRhMOUa0W9ufljGD7luHbIoSuuwG84GQQZ8uIz7XXMylfmUZz9Q\",\r\n    \"e\": \"AQAB\"\r\n  },\r\n  \"attributes\": {\r\n    \"enabled\": true,\r\n    \"created\": 1478549629,\r\n    \"updated\": 1478549629\r\n  },\r\n  \"tags\": {\r\n    \"purpose\": \"unit test\",\r\n    \"test name \": \"CreateGetDeleteKeyTest\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/keys/CreateSoftKeyTest?api-version=2016-10-01",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"key\": {\r\n    \"kid\": \"https://herveyw-premium.vault.azure.net/keys/CreateSoftKeyTest/77e1b4b08a144e98a6ec0fe982665e52\",\r\n    \"kty\": \"RSA\",\r\n    \"key_ops\": [\r\n      \"encrypt\",\r\n      \"decrypt\",\r\n      \"sign\",\r\n      \"verify\",\r\n      \"wrapKey\",\r\n      \"unwrapKey\"\r\n    ],\r\n    \"n\": \"vAwFfQzn7DbOBCxyeRAH0YsaHgOMegLVPBlpw428UNNWyZzGCt85PCITuDNp0WT5oC2TSYATW2uwhYRAf6dlma5pEHy_Tjsm1CitNMj9zxMoF_JoB8FUcFrLFIK5IDNHCZe2wszYOflf8QFvwUQ31Acz06uDGa3pSECsrgGcRFJdKR07kyFlJS-Q2OR3liWyqc3jb7t67nee2T6ADu-HlCZfQRpUG6mEpzm9icbJ-UgtVmjKKHDaJUz-uvj3BPPCCygZeYzMJRhifzVtgvMUBXPteTOA-T3qUw7VRhMOUa0W9ufljGD7luHbIoSuuwG84GQQZ8uIz7XXMylfmUZz9Q\",\r\n    \"e\": \"AQAB\"\r\n  },\r\n  \"attributes\": {\r\n    \"enabled\": true,\r\n    \"created\": 1478549629,\r\n    \"updated\": 1478549629\r\n  },\r\n  \"tags\": {\r\n    \"purpose\": \"unit test\",\r\n    \"test name \": \"CreateGetDeleteKeyTest\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/keys/CreateSoftKeyTest/?api-version=2016-10-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"KeyNotFound\",\r\n    \"message\": \"Key CreateSoftKeyTest not found\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 404
    }
  ],
  "Names": {},
  "Variables": {
    "VaultAddress": "https://herveyw-premium.vault.azure.net",
    "KeyName": "AzureSDKTestKey",
    "KeyVersion": "72c66e7bd2fe4d34baf302c9e249e3ef"
  }
}