{
  "Entries": [
    {
      "RequestUri": "/keys/AzureSDKTestKey//wrapkey?api-version=2016-10-01",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"alg\": \"RSA-OAEP\",\r\n  \"value\": \"loP3D2bPqoPy31XOkV_ToXGnLkOntZTn2gyExu0DuKs\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"kid\": \"https://herveyw-premium.vault.azure.net/keys/AzureSDKTestKey/72c66e7bd2fe4d34baf302c9e249e3ef\",\r\n  \"value\": \"XIpY0XGuaVMPFr0uIM70EzT2BmO_Na6xoTgo0ie8RA5BH3sVxETucUE57Jj2w61kvtTNi0D-3KN6bh9LZbVchI5pDB86PYiz0nSVMM-7gUnJnhPFMcbO4OMbM7sz_vqszgG7gBgDZJUCvx7Ino8ZYg5FawBXK6RzQIDadbK3zPXodC6yGfq_Ki5esasKKD1cddM27ZlmO_tMtl4BRGh5vIwVtwHBSkwg0zym5JkiwdEJv6OH4ZdSSKroNbJlppPVY6Yo_n1WmNQjHL1HVzfeBsfhfUwF1ii1wTfEdhzm78VwL4b7b8iwfhJFiNkxms0qHPDrN6FMmdZAg_t76RMwSg\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/keys/AzureSDKTestKey/72c66e7bd2fe4d34baf302c9e249e3ef/unwrapkey?api-version=2016-10-01",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"alg\": \"RSA-OAEP\",\r\n  \"value\": \"XIpY0XGuaVMPFr0uIM70EzT2BmO_Na6xoTgo0ie8RA5BH3sVxETucUE57Jj2w61kvtTNi0D-3KN6bh9LZbVchI5pDB86PYiz0nSVMM-7gUnJnhPFMcbO4OMbM7sz_vqszgG7gBgDZJUCvx7Ino8ZYg5FawBXK6RzQIDadbK3zPXodC6yGfq_Ki5esasKKD1cddM27ZlmO_tMtl4BRGh5vIwVtwHBSkwg0zym5JkiwdEJv6OH4ZdSSKroNbJlppPVY6Yo_n1WmNQjHL1HVzfeBsfhfUwF1ii1wTfEdhzm78VwL4b7b8iwfhJFiNkxms0qHPDrN6FMmdZAg_t76RMwSg\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"kid\": \"https://herveyw-premium.vault.azure.net/keys/AzureSDKTestKey/72c66e7bd2fe4d34baf302c9e249e3ef\",\r\n  \"value\": \"loP3D2bPqoPy31XOkV_ToXGnLkOntZTn2gyExu0DuKs\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "VaultAddress": "https://herveyw-premium.vault.azure.net",
    "KeyName": "AzureSDKTestKey",
    "KeyVersion": "72c66e7bd2fe4d34baf302c9e249e3ef",
    "SymmetricKeyBytes": "loP3D2bPqoPy31XOkV/ToXGnLkOntZTn2gyExu0DuKs="
  }
}