{
  "Entries": [
    {
      "RequestUri": "/secrets/crpsecret?api-version=2016-10-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"value\": \"mysecretvalue\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": \"mysecretvalue\",\r\n  \"id\": \"https://herveyw-premium.vault.azure.net/secrets/crpsecret/11bf90e51dd94b0ca5249bba0575f40d\",\r\n  \"attributes\": {\r\n    \"enabled\": true,\r\n    \"created\": 1478549686,\r\n    \"updated\": 1478549686\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/secrets/crpsecret/11bf90e51dd94b0ca5249bba0575f40d?api-version=2016-10-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": \"mysecretvalue\",\r\n  \"id\": \"https://herveyw-premium.vault.azure.net/secrets/crpsecret/11bf90e51dd94b0ca5249bba0575f40d\",\r\n  \"attributes\": {\r\n    \"enabled\": true,\r\n    \"created\": 1478549686,\r\n    \"updated\": 1478549686\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/secrets/crpsecret/?api-version=2016-10-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": \"mysecretvalue2\",\r\n  \"id\": \"https://herveyw-premium.vault.azure.net/secrets/crpsecret/656826b67f2240eba1b549215e3ea8d8\",\r\n  \"attributes\": {\r\n    \"enabled\": true,\r\n    \"created\": 1478549686,\r\n    \"updated\": 1478549686\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/secrets/crpsecret/?api-version=2016-10-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"SecretNotFound\",\r\n    \"message\": \"Secret not found: crpsecret\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 404
    },
    {
      "RequestUri": "/secrets/crpsecret?api-version=2016-10-01",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"https://herveyw-premium.vault.azure.net/secrets/crpsecret/656826b67f2240eba1b549215e3ea8d8\",\r\n  \"attributes\": {\r\n    \"enabled\": true,\r\n    \"created\": 1478549686,\r\n    \"updated\": 1478549686\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "VaultAddress": "https://herveyw-premium.vault.azure.net",
    "KeyName": "AzureSDKTestKey",
    "KeyVersion": "72c66e7bd2fe4d34baf302c9e249e3ef"
  }
}