{
  "Entries": [
    {
      "RequestUri": "/secrets/mysecretname?api-version=2016-10-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"value\": \"mysecretvalue\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": \"mysecretvalue\",\r\n  \"id\": \"https://herveyw-premium.vault.azure.net/secrets/mysecretname/05cd8f3be6264395ad13979bc06a1f63\",\r\n  \"attributes\": {\r\n    \"enabled\": true,\r\n    \"created\": 1478549694,\r\n    \"updated\": 1478549694\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/secrets/mysecretname/?api-version=2016-10-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": \"mysecretvalue\",\r\n  \"id\": \"https://herveyw-premium.vault.azure.net/secrets/mysecretname/05cd8f3be6264395ad13979bc06a1f63\",\r\n  \"attributes\": {\r\n    \"enabled\": true,\r\n    \"created\": 1478549694,\r\n    \"updated\": 1478549694\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/secrets/mysecretname/05cd8f3be6264395ad13979bc06a1f63?api-version=2016-10-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": \"mysecretvalue\",\r\n  \"id\": \"https://herveyw-premium.vault.azure.net/secrets/mysecretname/05cd8f3be6264395ad13979bc06a1f63\",\r\n  \"attributes\": {\r\n    \"enabled\": true,\r\n    \"created\": 1478549694,\r\n    \"updated\": 1478549694\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/secrets/mysecretname?api-version=2016-10-01",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"https://herveyw-premium.vault.azure.net/secrets/mysecretname/bb6a1627aebc410999a3f0ee0a9c5bce\",\r\n  \"attributes\": {\r\n    \"enabled\": true,\r\n    \"created\": 1478549694,\r\n    \"updated\": 1478549694\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "VaultAddress": "https://herveyw-premium.vault.azure.net",
    "KeyName": "AzureSDKTestKey",
    "KeyVersion": "72c66e7bd2fe4d34baf302c9e249e3ef"
  }
}