{
  "Entries": [
    {
      "RequestUri": "/secrets/secretwithextendedattribs?api-version=2016-10-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"value\": \"mysecretvalue\",\r\n  \"tags\": {\r\n    \"purpose\": \"unit test\"\r\n  },\r\n  \"contentType\": \"plaintext\",\r\n  \"attributes\": {\r\n    \"enabled\": false,\r\n    \"nbf\": 1478592904\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": \"mysecretvalue\",\r\n  \"contentType\": \"plaintext\",\r\n  \"id\": \"https://herveyw-premium.vault.azure.net/secrets/secretwithextendedattribs/1ffb2ee1b0f84927bd4391a4e01a8694\",\r\n  \"attributes\": {\r\n    \"enabled\": false,\r\n    \"nbf\": 1478592904,\r\n    \"created\": 1478549704,\r\n    \"updated\": 1478549704\r\n  },\r\n  \"tags\": {\r\n    \"purpose\": \"unit test\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/secrets/secretwithextendedattribs/?api-version=2016-10-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"Forbidden\",\r\n    \"message\": \"Operation get is not allowed on a disabled secret.\",\r\n    \"innererror\": {\r\n      \"code\": \"SecretDisabled\"\r\n    }\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 403
    }
  ],
  "Names": {},
  "Variables": {
    "VaultAddress": "https://herveyw-premium.vault.azure.net",
    "KeyName": "AzureSDKTestKey",
    "KeyVersion": "72c66e7bd2fe4d34baf302c9e249e3ef"
  }
}