{
  "Entries": [
    {
      "RequestUri": "/keys/AzureSDKTestKey/create?api-version=2016-10-01",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"kty\": \"RSA\",\r\n  \"key_ops\": [\r\n    \"encrypt\",\r\n    \"decrypt\",\r\n    \"sign\",\r\n    \"verify\",\r\n    \"wrapKey\",\r\n    \"unwrapKey\"\r\n  ]\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"key\": {\r\n    \"kid\": \"https://herveyw-premium.vault.azure.net/keys/AzureSDKTestKey/c66a9d1c403c4572b99f95cbc647ff64\",\r\n    \"kty\": \"RSA\",\r\n    \"key_ops\": [\r\n      \"encrypt\",\r\n      \"decrypt\",\r\n      \"sign\",\r\n      \"verify\",\r\n      \"wrapKey\",\r\n      \"unwrapKey\"\r\n    ],\r\n    \"n\": \"7CwsBNd7Uxxxghj7fGi0dOUDhiLAbKhEQbJ8qSNp5S7b8ED1gEENG3Vtl24zy18PudZO5JopFaeAj83Ed-vOOtAE-TuJoDJOnmUs_-WOu4ikXxDN7SksBgaeXMhKCe_bI6k8vwJi1x7meP0R2ecvpmXZWBH8tk5BsID69twOQDPIT7zh3JAynVCO_Kq5FsclRfh8-BvTAFNLKQk82ZsEEUq0XjVdLPCsgHmZISY1qGQOqiAcwj5Er_u3acMMVeHJ9BtxPUGebKzdjecDOnXz2utQEVr7_pVIiPTJCFQbrZDEG4xh8jMZ_duMoumx6F8hdBKSqJlM4CAia3pUCKS07Q\",\r\n    \"e\": \"AQAB\"\r\n  },\r\n  \"attributes\": {\r\n    \"enabled\": true,\r\n    \"created\": 1478549775,\r\n    \"updated\": 1478549775\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/keys/AzureSDKTestKey//encrypt?api-version=2016-10-01",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"alg\": \"RSA1_5\",\r\n  \"value\": \"UX79bFWzkiOH_w\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"kid\": \"https://herveyw-premium.vault.azure.net/keys/AzureSDKTestKey/c66a9d1c403c4572b99f95cbc647ff64\",\r\n  \"value\": \"MDeoMsduq9wUiJ1SBXuVZ2SvsA7UAxM7iHbQ3of-0hYZ0hsC4BUm6eZLDL4XKUM5hvl-LTyiKShJLseSsnKZCVepSBSfMKt9Irw4fcvl1d8OGcbPPYYDRiFWlqyTu-HWZJ6K_HY495kOtdTh2B5Ud-yScWOg-PKC-lx6VT2Eh3bTfYoa0AIACxs0Ym4M-av9pD9lHzDBgDyJMiGw8IVbbzQLtR9pcTQCCy5gN_JZ_0o0utgiH4SBnpVQsSwpqIE_ImiJa7Vx0Z05ZbSxI0dGCNPXe3sq2NtAb6ANgKfGBgsiLG2SB24_GzikwVAPrtcJ4e30ziMGbJAthVaoAEdR3Q\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/keys/AzureSDKTestKey/c66a9d1c403c4572b99f95cbc647ff64/decrypt?api-version=2016-10-01",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"alg\": \"RSA1_5\",\r\n  \"value\": \"MDeoMsduq9wUiJ1SBXuVZ2SvsA7UAxM7iHbQ3of-0hYZ0hsC4BUm6eZLDL4XKUM5hvl-LTyiKShJLseSsnKZCVepSBSfMKt9Irw4fcvl1d8OGcbPPYYDRiFWlqyTu-HWZJ6K_HY495kOtdTh2B5Ud-yScWOg-PKC-lx6VT2Eh3bTfYoa0AIACxs0Ym4M-av9pD9lHzDBgDyJMiGw8IVbbzQLtR9pcTQCCy5gN_JZ_0o0utgiH4SBnpVQsSwpqIE_ImiJa7Vx0Z05ZbSxI0dGCNPXe3sq2NtAb6ANgKfGBgsiLG2SB24_GzikwVAPrtcJ4e30ziMGbJAthVaoAEdR3Q\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"kid\": \"https://herveyw-premium.vault.azure.net/keys/AzureSDKTestKey/c66a9d1c403c4572b99f95cbc647ff64\",\r\n  \"value\": \"UX79bFWzkiOH_w\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "VaultAddress": "https://herveyw-premium.vault.azure.net",
    "KeyName": "AzureSDKTestKey",
    "KeyVersion": "72c66e7bd2fe4d34baf302c9e249e3ef",
    "RandomBytes": "UX79bFWzkiOH/w=="
  }
}